<!DOCTYPE html>
<html>
<head>
	<title>Rekap Caraka</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/progress.css">
</head>
<body>
	<div class="vue">
		<div class="container">
			<br>
			<h1 class="text-center">Rekap Caraka</h1>
			<p>{{ data[0] }}</p>
			<p>{{ banyak_data }}</p>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<p><strong>Belum mencapai target</strong></p>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nama</th>
									<th>Jumlah halaman</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for='x in belum'>
									<td>Zen</td>
									<td>10</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-6">
					<p><strong>Sudah mencapai target</strong></p>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nama</th>
									<th>Jumlah halaman</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for='x in sudah'>
									<td>Zen</td>
									<td>10</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="progress-loading sembunyi">
	      <div class="indeterminate"></div>
	    </div>
	</div>
	<script type="text/javascript" src="vendor/vue.min.js"></script>
	<script type="text/javascript">
		loading = () => document.querySelector('.progress-loading').classList.remove('sembunyi')
   		loading_selesai = () => document.querySelector('.progress-loading').classList.add('sembunyi')
   		tanggalan_sekarang = new Date
   		bulan_sekarang = tanggalan_sekarang.getMonth()
   		tahun_sekarang = tanggalan_sekarang.getFullYear()
   		// api = 'https://sheetdb.io/api/v1/6dp0vmu355mwe'
   		api = 'data.json'
		new Vue({
			el: '.vue',
			data: {
				belum: [],
				sudah: [],
				target: 270,
				data: []
			},
			computed: {
				banyak_data(){
					return this.data.length
				}
			},
			mounted(){
				loading()
				fetch(api).then(x => x.json()).then(data => {
					data.reverse()
					data_baru = []
					for (x of data){
						tanggalan = new Date(x.Timestamp)
						bulan = tanggalan.getMonth()
						tahun = tanggalan.getFullYear()
						if (bulan == bulan_sekarang && tahun == tahun_sekarang){
							data_baru.push(x)
						}
					}
					for (n in data_baru){
						tanggalan = new Date(data_baru[n].Timestamp)
						data_baru[n].identitas = `${tanggalan.getDate()}-${encodeURIComponent(data_baru[n].Nama)}`
					}
					kumpulan_identitas = []
					data_baru2 = []
					for (x of data_baru){
						if (!kumpulan_identitas.includes(x.identitas)) {
							kumpulan_identitas.push(x.identitas)
							data_baru2.push(x)
						}
					}
					semua_nama = []
					for (x of data_baru2){
						if (!semua_nama.includes(x.Nama)){
							semua_nama.push(x.Nama)
						}
					}
					semua_nama.sort()
					semua_nama = semua_nama.filter(x => x.length > 0)
					semua_jumlah = []
					for (x of semua_nama){
						total = 0
						for (y of data_baru2){
							if (x == y.Nama){
								total += Number(y['Jumlah halaman baca'])
							}
						}
						semua_jumlah.push(total)
					}
					this.data = semua_jumlah
					loading_selesai()
				})
			}
		})
	</script>
</body>
</html>